:host{
    /* styling hooks */
    --clock-color : white; 
    --clock-font-size : 3vw; /* Styling hook, this will be overridden in clock.css */
    
    --app-margin-size : 6vw;
    
    /* --app-bgcolor : linear-gradient(rgb(104, 29, 29), rgb(209, 164, 58)); */
    --app-bgcolor : linear-gradient(grey, white);
    
    --header-height: 8vw;
    --header-sitename-size: 6vw;

    --center-margin-top_bottom : 3vh;
    --square-size : 5vw;

    --footer-height: 5vw;
    --footer-items-margin : 1vw;    

    --rank-height : var(--square-size);
    --rank-width : var(--square-size);
    --rank-margin-left : 15px;
    --rank-font-size : 2.2vw;

    --file-margin-top : 1.4vw;
    --file-height : var(--square-size);
    --file-width : var(--square-size);
    --file-font-size : 2.2vw;
}

.app{
    background: var(--app-bgcolor);
    margin: 0 var(--app-margin-size); /* top and bottom margin is 0*/
}