.header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: var(--header-height);
}

.header > div {
    display: grid;
    place-items: center;
}

.header_left > img {
    height: var(--header-height);
}

.header_middle{
    font-size: var(--header-sitename-size);
}

